<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2 align="center">Here is Mike first try! </h2>
<div align="center">
<app-user-list></app-user-list>
</div>
<ul>
  <h2>
  <li>
    <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a>
  <li>
    <a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a>
  </li>
  <li>
    <a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
  </li>
  </h2>
</ul>

<router-outlet></router-outlet>
